#canvas {
    width: 500px;
    height: 500px;
    border: 1px lightcoral solid;
}

#canvas-decoration {
    position: absolute;
    z-index: 999;
}

.ui {
    position: absolute;
    z-index: 999;
}

.shield {
    background-image: red url(../img/shield.png) no-repeat;
    width: 20px;
    height: 5px;
}